html {
    background-color: #d3d3d3;
    text-align: center; 
}

img {
    opacity: 1;
}
header {
    height: 60px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    display: flex;
    float: right;
}

li {
    margin: 0 5px;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: #4F8EF7;
}

img {
    border-radius: 13px;
    border-style: inset;
    box-shadow: 15px 15px 10px #888888;
    width: 80%;
    padding: 20px;
    margin: 10px;
}

img:hover {
    background-color: black;
    opacity: .3;
}

